
<title><%= title %> | ICKChat</title>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- description -->
<meta
  name="description"
  content="<%= description %>"
/>
<!-- keywords -->
<meta
  name="keywords"
  content="ICKDEV, ickdev, chat, real-time chat, real-time, realtime"
/>

<!-- favicon -->
<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />

<!-- og:title -->
<meta property="og:title" content="<%= title %>" />
<!-- og:description -->
<meta property="og:description" content="<%= description %>" />
<!-- og:image -->
<meta property="og:image" content="./favicon.ico" />
<!-- og:url -->
<meta property="og:url" content="https://ickdev.github.io/ICKChat/" />
<!-- og:site_name -->
<meta property="og:site_name" content="ICKChat" />
<!-- og:type -->
<meta property="og:type" content="website" />


<!-- twitter:card -->
<meta name="twitter:card" content="summary" />
<!-- twitter:title -->
<meta name="twitter:title" content="<%= title %>" />
<!-- twitter:description -->
<meta name="twitter:description" content="<%= description %>" />
<!-- twitter:image -->
<meta name="twitter:image" content="./favicon.ico" />
<!-- twitter:url -->
<meta name="twitter:url" content="https://ickdev.github.io/ICKChat/" />
<!-- twitter:site -->
<meta name="twitter:site" content="@ICKDEV" />
<!-- twitter:creator -->
<meta name="twitter:creator" content="@ICKDEV" />


